body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}
.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}
.content {
    padding: 120px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#google {
    margin-bottom: 10px;
    width: 270px;
    margin-inline: auto;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search {
    width: 400px;
    padding: 10px;
    margin-right: 10px;
    border: 0px none;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.300);
}
#search {
    width: 400px;
    padding: 10px;
    margin-right: 10px;
    border: 0px none;
    border-radius: 50px;
}
#search:focus {
    outline: none;
}
button {
    padding: 10px 20px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.navicon{
        width: 25px;
        height: 25px;
        margin-right: 20px;
        margin-left: 20px;
}
#login {
    width: 80px;
    margin-left: 10px;
}